.dialog-container {
  margin: auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

app-header {
  margin: auto;
  display: block;
  height: 5vh;
  width: 80%;
  min-width: 850px;
  background-color: wheat;
}

@media (max-width: 850px) {
  .dialog-container {
    width: 100%;
  }
  app-header{
    min-width: auto;
    width: 100%;
  }
}
app-all-dialogs,app-dialog{
  height: 95vh;
  width: 100%;
}

app-all-dialogs {
  background-color: darkseagreen;
  min-width: 450px;
  padding: 10px;
  box-sizing: border-box;
}

app-dialog {
  background-color: aliceblue;
  min-width: 400px;
  overflow-y: scroll;
}


